*{
    margin: 0;
    padding: 0;
    
}
body{
    background: rgb(85, 129, 129);
}
.right-menu li{
    display:inline-block;
    margin-top: 30px !important;
}
.right-menu li .fa{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.right-menu li .fa:hover{
    font-size: 30px;
    background: rgba(146, 197, 212, 0.705);
}
.navbar-brand img {
    width:120px;
    border-radius: 50%;
}
.navbar{
    padding:0 35px !important
}
.nav-item:hover{
 background: rgba(109, 145, 192, 0.548);
 color: #fff;
}
.header{
    /* background: #f5f6fc; */
    font-family: 'Roboto Serif', sans-serif;
    background: #f1f6f7;
    /* margin-bottom:-80px; */
}
.navbar-toggler{
    border:none !important;
    outline:none !important;
    padding:0 !important;
    margin-top:30px !important;
}
.navbar-toggler .fa{
    font-size: 30px;
    cursor: pointer;
}
.banner-img{
    /* margin:80px 115px; */
    width:100%;
    max-height: 100%;
    
}
.banner-img img{
    width:100%;
    border-radius: 5px;
    opacity: 5;
   /* margin-bottom:-80px; */
}
.banner{
    position: relative;
}
.banner-title{
    position: absolute;
    left:28rem;
    top:29rem;
}
.banner-title :hover{
    background:rgba(31, 30, 36, 0.274);
}
.banner-title h1{
    font-size: 38px;
    background:  rgba(97, 96, 102,30%);
    color: #9ba39b;;
    line-height: 50px;
    padding: 0 10px 0 10px;
}
/* small info */
.middle{
    padding:100px 0;
}
.middle-box{
 margin:80px 0;
}
.title-style h1{
    padding: 40px 0;
}
.title-style{
    margin : 0 auto 80px;
    height: 120px;
    width:80%;
    max-width:700px;
    background: #fff;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0 ,0 ,50,0.5);
}
.title-style::after{
    content:'';
    height:100px;
    width:200px;
    background-color: rgb(211, 94, 109);
    position: absolute;
    top: -10px;
    left: -10px;
    z-index:-1;
}
.title-style::before{
    content:'';
    height:100px;
    width:200px;
    background-color: rgb(211, 94, 109);
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index:-1;
}
/* video content */
.trecking-img{
    position: relative;
    margin-bottom:15px ;
}
.trecking-img img{
    width:21.5rem;
    height:25rem;
    
}
.btn-buy{
    width:150px;
    padding: 10px;
    outline: none !important;
    border: 0;
    position: absolute;
    background: #fff;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    opacity: 0;
    z-index: 1;
}
.trecking-img:hover .btn-buy{
    transform: translate(-50%,50%);
    bottom: 50%;
    opacity: 1;
}
.overlay{
    height: 0;
    width: 100%;
    background: #333;
    position: absolute;
    top:0;
    opacity: 0;
    transition: 0.5s;

}
.trecking-img:hover .overlay{
    opacity: 0.5;
    height: 100%;
}

/* <!-- blogging quotes --> */
.quotes{
    /* background-image: url(img/garden.jpg); */
    background-color: rgb(129, 182, 60);
    background-size: cover;
    background-position:center ;
}
.row{
    margin:initial !important;
}
.subscribe{
    max-width: 500px;
    margin-top: 80px;
    padding: 60px;
    background: rgb(193, 197, 199);
    margin-bottom: 20px;
}   
.quotes img{
    width:300px;
    height: 400px;
    margin: -100px; 
    margin-top: 150px;
    border-radius: 2px;
    background: #333;
    border:rgb(54, 42, 70) 5px dashed;
}
/* BRANDING */
.forest-brands{
    margin:250px 0 150px 0;
}
.brand-logo{
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    margin: 50% auto 30px;
    box-shadow: 0 2px 40px 0 rgba(110, 140, 210, 0.183);
}
.brand-logo:hover{
    box-shadow: 0 2px 40px 0 rgba(35, 39, 48, 0.183);
}
.brand-logo img{
    width: 140px;
    margin: 50px auto;
}
.forest-brands p{
 margin-top: 30px;
 font-weight: bold;
}
.footer{
    margin-top: 150px;
    background: #fcd9ff;
}
.insta-img img{
    width: 75px;
    padding: 5px;
    cursor: pointer;
}
.insta-img img:hover{
    width:100px;
}
.insta-img ,.resourses,.app-download,.contact,.customer-care{
    margin: 50px auto;
}
.footer ul{
    list-style: none;
    float: left;
}
.app-download img{
    width: 200px;
}
.app-download{
    cursor: pointer;
}
.footer h5{
    margin-bottom: 50px;
}
.footer h5::before{
    content:'';
    width:70px;
    height: 3px;
    background: #4f74e8;
    top:75px;
    position: absolute;
}
.footer-icons{
    text-align:right;
}
.footer-icons .fa{
    margin:0 10px auto;
    font-size:20px;
    cursor: pointer;
}
/* mobile handling */
@media only screen and (max-width:600px)
{
    
        .banner-img{
            margin:40px auto;
            width:80% ;
        }
        .banner-title{
            top:150px;
            left:50%;
            transform: translateX(-50%);
        }
        .banner-title h1{
            font-size: 16px;
            padding: 5px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.959);
            background-color: #1f272b9a;
        }
        .title-style h1{
            font-size: 25px;
        }
        .trecking-img{
            margin-top: 20px !important;
            margin-bottom: 0 !important;
            width:22rem;
           
        }
 }

